<section class="card">
    <header>{{title}}</header>

    <div class="card-body">
        {{firstName}}
        {{!-- {{recipes_name}}
        {{allergens}}
        {{servings}}
        {{preptime}}
        {{cooktime}}
        {{totaltime}}
        {{instructions}}
        {{difficulty}} --}}
    </div>
</section>