<div class="container my-5">
    <h1 class="text-center">Recipe Page</h1>
    <hr />
    <div class="row recipe-overview">
        {{!-- iterate through each recipe --}}
        {{#each recipes}}
            <div id="{{recipe_id}}" class="col-md-4 card card-hover">
                <h4>{{recipes_name}}</h4>
                <img
                    src= {{images}}
                    alt="Recipe Image"
                    class="img-fluid"
                />
                <p>{{servings}}</p>
                <p>{{cooktime}}</p>
            </div>

        {{/each}}

    </div>
</div>
<script src="/js/recipe.js"></script>
